:root {
    --md-primary-fg-color: #0038b8;
    --md-primary-fg-color--light: #3a63d6;
    --md-primary-fg-color--dark: #002a8a;
}

.md-nav__title, .md-nav__item--section > .md-nav__link[for] {
    font-style: italic;
}

[data-md-color-scheme="slate"] {
    --md-typeset-a-color: #a3b2ff;
}

.md-logo {
    filter: brightness(0) invert(1);
}
